<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/assets/css/<%= pageName %>.css"/>
		<link rel="stylesheet" type="text/css" href="/assets/css/app.css"/>
		<script src="/assets/plugins/react.js" type="text/javascript" charset="utf-8"></script>
		<script src="/assets/plugins/react-dom.js" type="text/javascript" charset="utf-8"></script>
		<script src="/assets/plugins/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/assets/plugins/artDialog.js" type="text/javascript" charset="utf-8"></script>
		<script src="/assets/plugins/base.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="content">
		</div>
		<script src="/assets/builder/component.js" type="text/javascript" charset="utf-8"></script>
		<script src="/assets/builder/<%= pageName %>.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
